<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style><%= customCSS %></style>
</head>
<body>
	<h1>Base theme</h1>
  <header><%- headerContent %></header>
  <main><%- mainContent %></main>
  <footer><%- footerContent %></footer>
</body>
</html>