<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style><%= customCSS %></style>
</head>
<body>
  <h1>Base theme</h1>
  <header><%- headerContent %></header>
  <main>
    <h1><%= post.title %></h1>
    <div><%- post.content %></div>
    <a href="/post">>>>[All posts]</a>
  </main>
  <footer><%- footerContent %></footer>
</body>
</html>